/*Source : https://x.com/i/bookmarks?post_id=1873759081694929385*/
@property --missouri-mud {
    syntax: "<color>";
    inherits: false;
    initial-value: #a6a19b;
}

@property --drive-in-cherry {
    syntax: "<color>";
    inherits: false;
    initial-value: #a62e30;
}

@property --dazzle-me {
    syntax: "<color>";
    inherits: false;
    initial-value: #edebea;
}

@property --suntan {
    syntax: "<color>";
    inherits: false;
    initial-value: #d9b19f;
}

@property --deep-velvet {
    syntax: "<color>";
    inherits: false;
    initial-value: #313248;
}

@property --bruised-plum {
    syntax: "<color>";
    inherits: false;
    initial-value: #3b1921;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--deep-velvet);
}

#container {
    display: flex;
    width: min(100%, 70vh);
    max-width: 600px;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#canvas1 {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    margin-top: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    /*border: 1px solid var(--suntan);*/
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10 0px;
    background: var(--missouri-mud);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10;
    background-color: var(--bruised-plum);
    color: var(--dazzle-me);
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
    text-align: justify;
    text-justify: justify;
    overflow: hidden;
}

button:active {
    background-color: var(--deep-velvet);
    /*border: 1px solid darkred;*/
}

.sliderContainer {
    display: flex;
    align-items: center;
}

#cellSizeSlider {
    display: flex;
    align-items: center;
    width: 90%;
    height: 15px;
    border-radius: 30px;
    background: var(--dazzle-me);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#cellSizeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--deep-velvet);
    cursor: pointer;
}

#cellSizeSlider::-moz-range-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--deep-velvet);
    cursor: pointer;
}

#cellSizeSlider:hover {
    opacity: 1;
}
